body{
    background-color:rgb(255, 251, 247);
    margin:0;
    padding:0;
    font-family: 'Noticia Text', serif;
}


.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 90%;
  }

.p-col {
    text-align: justify;
    text-justify: inter-word;
}

.page-cont{
padding-left: 10px;
padding-right: 10px;
}

h2{
    font-family: 'Noticia Text', serif;
    font-weight: bolder;
}

